.container{
    min-height: 100vh;
    padding-top: 50px;
}


.instructions{
    width: 70%;
    margin: auto;
    border: black 1px solid;
    padding: 15px;
}
.subContainer{
    margin: 50px auto 100px 50px;
}

.subContainer p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.fields{
    display: flex;
    gap: 30px;
}

.data{
    display: flex;
    gap: 30px;
}

.fields span{
    width: 120px;
    background-color: thistle;
    padding: 5px 0px 5px 5px;
    color: black;
}

.data span{
    padding-left: 5px;
    width: 120px;
    word-wrap: break-word;
}